.nevoboWidgetTable {
	width: 100%;
}

.nevoboWidgetTable td {
  text-align: left;
	padding: 0.1vw;
	max-width:7vw;
}

.nevoboWidgetTable td > .wrap{
   text-overflow:ellipsis;
   overflow:hidden;
   white-space:nowrap;
}
