.nevoboContainer {
	width: 100%;
}
.nevoboRow {
	display: flex;
	flex-basis: auto;
}
.nevoboCell {
	align-items: left;
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
	padding: 3px;
}
.nevoboClub {
	flex: 2;
	flex-grow: 1;
}
.nevoboDate {
	flex-shrink: 0;
	text-decoration: underline;
}
.nevoboTime {
	flex-shrink: 0;
}
