.container {
	width: 100%;
}
.row {
	display: flex;
	flex-basis: auto;
}
.cell {
	align-items: left;
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
	padding: 3px;
}
.club {
	flex: 2;
	flex-grow: 1;
}
.date .time {
	flex-shrink: 0;
}
